{% extends 'admin.html' %}
{% block content %}
{% load static %}
    <title>Leave</title>
</head>
<body>
    <div class="container">
    <h2> Leave Request</h2>
    <table class="table table-dark table-hover text-center  mb-5 w-60" >
        <tr>
            <th>ID</th>
            <th>Full Name</th>
            <th>Reason</th>
            <th>Action</th>
        </tr>
        {% for u in sleave %}
        <tr>
            <td>{{ u.id }}</td>
            <td>{{ u.l_req }} </td>
            <td>{{ u.l_reason }}</td>
            <td>
            <a href="{% url 'delete_leave' u.id %}" class="btn btn-danger">Delete</a></td>
        {% endfor %}
    </tr>
    </table>
</div><br><br><br><br>
</body>
</html>
{% endblock %}